#Ignore bin folder
SensorMonitoring/bin/

#Ignore obj folder
SensorMonitoring/obj/

#Ignore SQLite DB
SensorMonitoring/SensorMonitoring.db

#Ignore files
SensorMonitoring/SensorMonitoring.csproj.user

#Ignore vs
.vs/
